*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(55deg, red, blue);
}

.calculator-body {    
    margin: auto;
    background-color: rgba(104, 111, 120, 1);
    width: 430px;
    border-radius: 20px;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    border-radius: 5%;
    cursor: pointer;
    font-size: 2.1rem;
    border: 2.5px solid rgba(104, 111, 120, 1);
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    margin-bottom: 5px;
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}

.output .previous-operand {
    color: rgba(18, 252, 38, 0.75);
    font-size: 2rem;

}
.output .current-operand {
    color: rgba(18, 252, 38, 0.75);
    font-size: 3rem;
}

#a-clear, #delete {
    background-color: rgb(245, 40, 67, .75)
}

#a-clear:hover, #delete:hover {
    background-color: rgb(245, 40, 67, .9)
}

#data-op {
    background-color: rgba(18, 186, 252, 0.75)
}

#data-op:hover {
    background-color: rgba(18, 186, 252, 0.9)
}

#equals {
    background-color: rgba(15, 236, 34, 0.75);
}
#equals:hover {
    background-color: rgba(15, 236, 34, 0.9);
}